- var title = `GraphEditor - create and visualize your Graph`;
- var description = ``;

title #{title}
 
meta(name="description" content=description) 
meta(name="Keywords" content="")

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

link(rel="shortcut icon" href="favicon.png" type="image/png")  

meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content="")
meta(property="og:type" content="")
meta(property="og:determiner" content="the")
meta(property="og:site_name" content="GraphEditor")
meta(property="og:url" content="")

meta(property="twitter:title" content=title)
meta(property="twitter:description" content=description)
meta(property="twitter:image" content="")
meta(property="twitter:site" content="GraphEditor")

meta(name="yandex-verification" content="")
meta(name="google-site-verification" content="")

link(rel="manifest" href="/manifest.json")


